:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* --mouse-tracker-scale: 0.75;
    --mouse-tracker-primary-bg: #3c4eb6;
    --mouse-tracker-primary-text: #ffffff;
    --mouse-tracker-secondary-bg: rgba(88, 119, 204, 0.9);
    --mouse-tracker-border-color: #404040;
    --mouse-tracker-shadow-color: rgba(0, 0, 0, 0.3);
    --mouse-tracker-pin-fill: aliceblue; */
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    flex-grow: 1;
}

.title {
    margin-left: auto;
    margin-right: auto;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;

        /* --mouse-tracker-primary-bg: #ffffff;
        --mouse-tracker-primary-text: #333333;
        --mouse-tracker-secondary-bg: rgba(255, 255, 255, 0.9);
        --mouse-tracker-border-color: #e2e2e2;
        --mouse-tracker-shadow-color: rgba(0, 0, 0, 0.1);
        --mouse-tracker-pin-fill: aliceblue; */
    }
}
